{{ define "main" }}

<div class="row">
  <div class="col">
    <h2>Jak na to?</h2>
  </div>
</div>

<ul class="fa-ul">
  <li>
    <span class="fa-li"><i class="fas fa-gift"></i></span>
    <p>
      Pomocí aplikace na záložce “Vyber si dítě” zvolíš věk, pohlaví a město, ze
      kterého pochází dítě, které chceš obdarovat. Z vytvořeného seznamu vybereš
      dítě/sourozence a klikneš na <b>VYBRAT</b>. Ve výběru jsou sourozenci,
      kteří žijí pohromadě, uváděni vždy společně. Je to z toho důvodu, aby
      krabice pro sourozence dělal jeden člověk, případně domluvená skupina a
      krabice byly na stejné úrovni.
    </p>
    <p>
      Pokud si nevybereš žádné dítě ze seznamu, můžeš vyrobit krabici
      bezejmennou, kterou pak opatříš pouze pohlavím a věkem dítěte, pro které
      je určena, např. <b>holčička, 4 roky</b>. Tyto krabice budou předány dětem
      odpovídajícího věku.
    </p>
  </li>
  <li>
    <span class="fa-li"><i class="fas fa-gift"></i></span>
    <p>
      Ve formuláři pod seznamem se objeví děti, které budeš obdarovávat. Do
      formuláře dále vyplníš své <b>JMÉNO a E-MAIL</b>, odsouhlasíš zpracování
      osobních údajů a klikneš na <b>OBDAROVAT</b>. Po registraci Ti přijde
      potvrzovací e-mail se všemi podrobnostmi. Jestliže e-mail nedorazí, tak se
      někde stala chyba a je potřeba zkontrolovat, zda-li jsi správně vyplnil(a)
      vše, co je potřeba.
    </p>
  </li>
  <li>
    <span class="fa-li"><i class="fas fa-gift"></i></span>
    <p>Obstaráš si prázdnou krabici od bot.</p>
  </li>
  <li>
    <span class="fa-li"><i class="fas fa-gift"></i></span>
    <p>
      Naplníš krabici dárky, podle vlastního uvážení. U některých dětí jsou
      uvedeny záliby, případně velikosti oblečení. Doporučujeme však od všeho
      trochu, aby byl dárek vyvážený, např. hračka, oblečení, knížka, nekazící
      se sladkost. Dívky jistě neurazí sponka či gumička do vlasů, náramek,
      šampon, zatímco kluci ocení třeba sprchový gel, časopis, psací potřeby,
      karty, atd. Ale samozřejmě je na Tobě, jaký obsah zvolíš. Do krabice také
      můžeš přibalit přání nebo dopis a přiložit svou fotku.
    </p>
    <p>
      VĚCI NEMUSÍ BÝT NOVÉ, JE V POŘÁDKU, ŽE BUDOU POUŽITÉ. PROSÍME ALE, ABY
      BYLY PĚKNÉ A ZACHOVALÉ.
    </p>
  </li>
  <li>
    <span class="fa-li"><i class="fas fa-gift"></i></span>
    <p>
      Krabici zabalíš do papíru a napíšeš na ni jméno a věk vybraného dítěte.
      Krabici doneseš na sběrné místo.
    </p>
  </li>
</ul>

<div class="row margin-top-1-5em">
  <div class="col">
    <h3>Jak a jaké dítě si vybrat?</h3>
  </div>
</div>

<ul class="fa-ul">
  <li>
    <span class="fa-li"><i class="fas fa-gift"></i></span>
    <p>
      Děláte-li krabici se svými dětmi, je ideální připravit krabici pro dítě
      stejného věku a pohlaví. Víte tak nejlépe, co děti rády, co se jim líbí.
    </p>
  </li>
  <li>
    <span class="fa-li"><i class="fas fa-gift"></i></span>
    <p>
      Děláte-li krabici ve třídě, je ideální opět stejný věk, nebo věk mladších
      sourozenců.
    </p>
  </li>
  <li>
    <span class="fa-li"><i class="fas fa-gift"></i></span>
    <p>
      Děláte-li krabici jako dospělí sami, vyberte si, co Vám bude nejvíce
      vyhovovat.
    </p>
  </li>
</ul>

<div class="row margin-top-1-5em">
  <div class="col">
    <h3>Do kdy krabici připravit?</h3>
  </div>
</div>

<ul class="fa-ul">
  <li>
    <span class="fa-li"><i class="fas fa-gift"></i></span>
    <p>
      Krabice můžeš nosit na přidělená sběrná místa v týdnu
      <b>od pondělí 6.12. do pátku 10. 12. 2021</b> - otevírací hodiny jsou u
      jednotlivých sběrných míst, viz. níže.
    </p>
  </li>
</ul>

<div class="row margin-top-1-5em">
  <div class="col">
    <h3>Kam krabice přinést?</h3>
  </div>
</div>

<ul class="fa-ul">
  <li>
    <span class="fa-li"><i class="fas fa-gift"></i></span>
    <p>
      <b>Rodinné centrum Letná, z.s. &dash; hlavní sběrné místo</b><br />
      Janovského 24, Praha 7 (tram 1, 8, 12, 25, 26, 17, 14 Strossmayerovo nám.;
      tram 17 Veletržní palác; metro C Vltavská)<br />
      <b>Otevřeno</b>:<br />
      Úterý - Pátek 09.00 - 12.00 hod.<br />
      Středa a Pátek 17.00 - 19.00 hod.<br />
      <b>Kontaktní osoba</b>: Jitka Kováříková, +420 737 713 544,
      <a href="mailto:jytuska@centrum.cz">jytuska@centrum.cz</a>
    </p>
  </li>
  <!-- <li>
    <span class="fa-li"><i class="fas fa-gift"></i></span>
    <p>
      <b>Dobrá rodina, o.p.s.</b><br />
      Klimentská 1246/1, Praha 1<br />
      <b>Otevřeno</b>: Po – Ne, 9.12 - 15.12., 09.30 – 16.00 hod. (zazvonit a
      výtahem do 5. patra)<br />
      <b>Kontaktní osoba</b>: Petra Turtáková, +420 775 335 444,
      <a href="mailto:petra.turtakova@dobrarodina.cz"
        >petra.turtakova@dobrarodina.cz</a
      >
    </p>
  </li> -->
  <li>
    <span class="fa-li"><i class="fas fa-gift"></i></span>
    <p>
      <b>Barevný svět dětí, z.s.</b><br />
      Pod Nuselskými schody 1721/3, Praha 2<br />
      <b>Otevřeno</b>:<br />
      Pondělí, Úterý, Středa, Pátek 9.00 - 17.00 hod. (ve čtvrtek je zavřeno).<br />
      <b>Kontaktní osoba</b>: Radka Maršíčková, +420 732 857 225,
      <a href="mailto:kamos@barevnysvetdeti.cz">kamos@barevnysvetdeti.cz</a>
    </p>
  </li>
  <li>
    <span class="fa-li"><i class="fas fa-gift"></i></span>
    <p>
      <b>Temperi o.p.s.</b><br />
      Jar. Haška 1818/1, České Budějovice<br />
      <b>Otevřeno</b>:<br />
      Pondělí - Pátek 9.00 - 17.00 hod.<br />
      <b>Kontaktní osoba</b>: Hana Francová, +420 702 571 757,
      <a href="mailto:hana.francova@tempericb.cz">hana.francova@tempericb.cz</a>
    </p>
  </li>
  <li>
    <span class="fa-li"><i class="fas fa-gift"></i></span>
    <p>
      <b>DOMUS, Centrum pro rodinu, z.s.</b><br />
      Černická 887/9, Plzeň<br />
      <b>Otevřeno</b>:<br />
      Pondělí - Čtvrtek 9.00 - 17.00 hod.<br />
      <b>Kontaktní osoba</b>: Martina Hajná, +420 730 890 760,
      <a href=mailto:martinahajna@domus-cpr.cz"">martinahajna@domus-cpr.cz</a>
    </p>
  </li>
</ul>

{{ end }}
