{{ define "main" }}

<div class="row">
  <div class="col">
    <h2>Jak na to?</h2>
  </div>
</div>

<ul class="fa-ul">
  <li><span class="fa-li"><i class="fas fa-gift"></i></span>Obstarej si prázdnou krabici od bot</li>
  <li><span class="fa-li"><i class="fas fa-gift"></i></span>Vyber si dítě pomocí formuláře níže ... po výběru už musíš opravdu krabici udělat!</li>
  <li><span class="fa-li"><i class="fas fa-gift"></i></span>Naplň krabici dárky, podle vlastního uvážení, doporučujeme od všeho trochu, aby byl dárek vyvážený, např. hračka, oblečení, knířka, nekazící se sladkost, pro starší holky sponka či gumička do vlasů, náramek, šampon, , starší kluci ocení třeba sprchový gel, časopis, psací potřeby, karty, atd. Ale samozřejmě je na Tobě, jaký obsah zvolíš.</li>
  <li><span class="fa-li"><i class="fas fa-gift"></i></span>VĚCI NEMUSÍ BÝT NOVÉ, JE V POŘÁDKU, ŽE BUDOU POUŽITÉ. PROSÍME ALE, ABY BYLY PĚKNÉ A ZACHOVALÉ</li>
  <li><span class="fa-li"><i class="fas fa-gift"></i></span>Krabici zabal do papíru a napiš na ni jméno a věk vybraného dítěte. Pokud si nevybereš žádné dítě ze seznamu, můžeš prostě vyrobit krabici bezejmennou, kterou pak opatříš pouze pohlavím a věkem, pro který je určena, např. holčička, 4 roky. Tyto krabice budou předány dětem odpovídajícího věku.</li>
</ul>

<div class="row">
  <div class="col">
    {{ .Content }}
  </div>
</div>

{{ end }}
