{{ define "main" }}

<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="row">
      <img
        class="col-sm-12 col-md-6 margin-top-1em img-fluid"
        src="/vanocni_krabice_2022.png"
        style="max-width: 100%; height: 100%"
      />
      <!-- <img class="col-sm-12 col-md-6 margin-top-1em img-fluid" src="/krabice1.png" -->
      <!--   style="max-width: 100%; height: 100%" /> -->
      <!-- <img class="col-sm-12 col-md-6 margin-top-1em img-fluid" src="/krabice2.png" -->
      <!--   style="max-width: 100%; height: 100%" /> -->
    </div>
    <!-- <div class="row"> -->
    <!--   <img class="col-sm-12 col-md-6 margin-top-1em img-fluid" src="/krabice3.png" -->
    <!--     style="max-width: 100%; height: 100%" /> -->
    <!--   <img class="col-sm-12 col-md-6 margin-top-1em img-fluid" src="/krabice4.png" -->
    <!--     style="max-width: 100%; height: 100%" /> -->
    <!-- </div> -->
  </div>
  <div class="col-sm-12 col-md-6 margin-top-1em">
    <h2>Vánoční krabice</h2>
    <p style="font-size: 175%">
      Společně dáváme dětem možnost prožít Vánoce, jaké si zaslouží.
    </p>
    <p style="font-size: 175%">Děkujeme!</p>
    <p>
      <i
        >Rodinné centrum Letná, Temperi, o.p.s., DOMUS, Centrum pro rodinu,
        z.s., Dětský domov Přestavlky & JCI Prague, South Bohemia, Pilsen</i
      >
    </p>
  </div>
</div>

{{ end }}
