{{ define "main" }}

<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="row">
      <img class="col-sm-12 col-md-6" src="https://via.placeholder.com/1024x768" />
      <img class="col-sm-12 col-md-6" src="https://via.placeholder.com/1024x768" />
    </div>
    <div class="row margin-top-1em">
      <img class="col-sm-12 col-md-6" src="https://via.placeholder.com/1024x768" />
      <img class="col-sm-12 col-md-6" src="https://via.placeholder.com/1024x768" />
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <h2>Vánoční krabice od bot</h2>
    <p style="font-size: 175%;">Společně dáváme dětem možnost prožít Vánoce jaké si zaslouží.</p>
  </div>
</div>

{{ end }}
