{{ define "main" }}

<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="row">
      <img class="col-sm-12 col-md-6 margin-top-1em" src="/krabice1.png" />
      <img class="col-sm-12 col-md-6 margin-top-1em" src="/krabice2.png" />
    </div>
    <div class="row">
      <img class="col-sm-12 col-md-6 margin-top-1em" src="/krabice3.png" />
      <img class="col-sm-12 col-md-6 margin-top-1em" src="/krabice4.png" />
    </div>
  </div>
  <div class="col-sm-12 col-md-6 margin-top-1em">
    <h2 style="margin-top: 4em;">Vánoční krabice od bot</h2>
    <p style="font-size: 175%;">Společně dáváme dětem možnost prožít Vánoce jaké si zaslouží.</p>
  </div>
</div>

{{ end }}
