{{ define "main" }}

<div class="row">
  <div class="col-sm">{{ .Content }}</div>
</div>

<div class="row margin-top-1em">
  <div class="col-sm">
    <div id="choose-kid-form"></div>
  </div>
</div>

<script src="/choose-kid-form.js"></script>
<script>
  var app = Elm.Main.init({
    node: document.getElementById("choose-kid-form"),
  });

  app.ports.familyChosen.subscribe(function (s) {
    window.scrollTo(0, document.body.scrollHeight);
  });

  app.ports.donateClicked.subscribe(function (s) {
    gtag("event", "choose-kid-form", {
      event_category: "donation",
    });
    setTimeout(function () {
      window.scrollTo(0, document.body.scrollHeight);
    }, 500);
  });
</script>

{{ end }}
