{{ define "main" }}

<div class="row">
  <div class="col">
    {{ .Content }}
  </div>
</div>

<div class="row">
  <div class="col">
    <b>Rodinné centrum Letná</b><br />
    Janovského 24<br />
    Praha 7<br />
  </div>

  <div class="col">
    <b>Barevný svět dětí, z.s.</b><br />
    Pod Nuselskými schody 1721/3<br />
    Praha 2 
  </div>

  <div class="col">
    <b>ÚMČ Praha 7 - Oddělení sociálně-právní ochrany dětí - OSPOD</b><br />
    nábř. Kapitána Jaroše 1000<br />
    Praha 7<br />
    1.&nbsp;patro, kancelář č.&nbsp;129 
  </div>
</div>

{{ end }}
