{{ define "main" }}

<div class="row">
  <div class="col margin-top-1-5em">
    <h2>Kontakty</h2>
  </div>
</div>

<div class="row">

  <div class="col-sm-12 col-md-6 margin-top-1-5em">
    <div class="row margin-bottom-1em">
      <img class="col" src="/rodinne_centrum_letna_logo.png" style="padding-right: 200px;" />
    </div>
    <b>Rodinné centrum Letná</b><br />
    Jitka Kováříková<br />
    <a href="mailto:jytuska@centrum.cz">jytuska@centrum.cz</a><br />
    +420 737 713 544<br />
  </div>

  <div class="col-sm-12 col-md-6 margin-top-1-5em">
    <div class="row margin-bottom-1em">
      <img class="col" src="/jci_prague_logo.png" style="padding-right: 200px;" />
    </div>
    <b>JCI Prague z.s.</b><br />
    Aneta Kodýtková<br />
    <a href="mailto:aneta.kodytkova@jcicr.cz">aneta.kodytkova@jcicr.cz</a><br />
    +420 777 084 397<br />
    <a href="https://www.facebook.com/vanocnikrabice/" target="_blank">www.facebook.com/vanocnikrabice</a><br />
  </div>

</div>

{{ end }}
