.margin-bottom-1em {
  margin-bottom: 1em;
}

.margin-top-1em {
  margin-top: 1em;
}

.margin-top-1-5em {
  margin-top: 1.5em;
}

.jumbotron-bg {
  background-image: url('baner.png');
  background-size: cover;
}

.jumbotron > h1 {
  color: white;
}

.footer-div {
  border-top: solid 1px darkgrey;
  margin-top: 3em;
}

.footer-text {
  color: grey;
  font-size: 0.75em;
}

.jumbotron > h1 > span {
  background-color: rgba(117, 117, 117, 0.7);
  padding: 0.25em;
}

a {
  color: #343a40 !important;
  text-decoration: underline !important;
}

p {
  text-align: justify;
}

@media (min-width: 992px) {

  .menu-row { padding-left: 400px; }

}

@media (max-width: 786px) {

  .jumbotron > h1 > span {
    font-size: 1.5rem;
  }

}
