{{ define "main" }}

<div class="row">
  <div class="col">
    <h2>Partneři</h2>
  </div>
</div>

<div class="row">
  <div class="col">{{ .Content }}</div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-4 margin-top-1-5em">
    <div class="row margin-bottom-1em">
      <img
        class="col img-fluid"
        src="/barevny_svet_deti_logo.jpg"
        style="padding-right: 50px; max-width: 100%; height: 100%"
      />
    </div>
    <b>Barevný svět dětí, z.s.</b><br />
    Pod Nuselskými schody 1721/3<br />
    Praha 2
  </div>

  <div class="col-sm-12 col-md-4 margin-top-1-5em">
    <div class="row margin-bottom-1em">
      <img
        class="col img-fluid"
        src="/dobra_rodina_logo.png"
        style="padding-right: 50px; max-width: 100%; height: 100%"
      />
    </div>
    <b>Dobrá rodina o.p.s.</b><br />
    Klimentská 1246/1<br />
    Praha 1<br />
  </div>
</div>

<div class="row">
  <div class="col margin-top-1-5em">
    <h2>Organizátoři</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-6 margin-top-1-5em">
    <div class="row margin-bottom-1em">
      <img
        class="col img-fluid"
        src="/jci_prague_logo.png"
        style="padding-right: 200px; max-width: 100%; height: 100%"
      />
    </div>
    <b>JCI Prague z.s.</b><br />
    Štěpánská 617/26<br />
    Praha 1
  </div>

  <div class="col-sm-12 col-md-6 margin-top-1-5em">
    <div class="row margin-bottom-1em">
      <img
        class="col img-fluid"
        src="/rodinne_centrum_letna_logo.png"
        style="padding-right: 200px; max-width: 100%; height: 100%"
      />
    </div>
    <b>Rodinné centrum Letná</b><br />
    Janovského 24<br />
    Praha 7<br />
  </div>
</div>

{{ end }}
